.container {
    width: 60%;
    background-color: #d05252;
    border-radius: 10px;
    color: #fff;
    padding: 30px 20px;
    margin-bottom: 2%;
}
    span {
      font-size: 26px;
      line-height: 1.5;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
  
  